/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-block-super-left-box-name: 'sprite-block-super-left-box';
$sprite-block-super-left-box-x: 0px;
$sprite-block-super-left-box-y: 90px;
$sprite-block-super-left-box-offset-x: 0px;
$sprite-block-super-left-box-offset-y: -90px;
$sprite-block-super-left-box-width: 84px;
$sprite-block-super-left-box-height: 96px;
$sprite-block-super-left-box-total-width: 262px;
$sprite-block-super-left-box-total-height: 256px;
$sprite-block-super-left-box-image: '../img/sprite.png';
$sprite-block-super-left-box: (0px, 90px, 0px, -90px, 84px, 96px, 262px, 256px, '../img/sprite.png', 'sprite-block-super-left-box', );
$sprite-block-super-left-line-trou-name: 'sprite-block-super-left-line-trou';
$sprite-block-super-left-line-trou-x: 0px;
$sprite-block-super-left-line-trou-y: 236px;
$sprite-block-super-left-line-trou-offset-x: 0px;
$sprite-block-super-left-line-trou-offset-y: -236px;
$sprite-block-super-left-line-trou-width: 117px;
$sprite-block-super-left-line-trou-height: 20px;
$sprite-block-super-left-line-trou-total-width: 262px;
$sprite-block-super-left-line-trou-total-height: 256px;
$sprite-block-super-left-line-trou-image: '../img/sprite.png';
$sprite-block-super-left-line-trou: (0px, 236px, 0px, -236px, 117px, 20px, 262px, 256px, '../img/sprite.png', 'sprite-block-super-left-line-trou', );
$sprite-block-super-left-shipm-name: 'sprite-block-super-left-shipm';
$sprite-block-super-left-shipm-x: 168px;
$sprite-block-super-left-shipm-y: 0px;
$sprite-block-super-left-shipm-offset-x: -168px;
$sprite-block-super-left-shipm-offset-y: 0px;
$sprite-block-super-left-shipm-width: 94px;
$sprite-block-super-left-shipm-height: 51px;
$sprite-block-super-left-shipm-total-width: 262px;
$sprite-block-super-left-shipm-total-height: 256px;
$sprite-block-super-left-shipm-image: '../img/sprite.png';
$sprite-block-super-left-shipm: (168px, 0px, -168px, 0px, 94px, 51px, 262px, 256px, '../img/sprite.png', 'sprite-block-super-left-shipm', );
$sprite-block-super-left-stripe-name: 'sprite-block-super-left-stripe';
$sprite-block-super-left-stripe-x: 104px;
$sprite-block-super-left-stripe-y: 0px;
$sprite-block-super-left-stripe-offset-x: -104px;
$sprite-block-super-left-stripe-offset-y: 0px;
$sprite-block-super-left-stripe-width: 64px;
$sprite-block-super-left-stripe-height: 99px;
$sprite-block-super-left-stripe-total-width: 262px;
$sprite-block-super-left-stripe-total-height: 256px;
$sprite-block-super-left-stripe-image: '../img/sprite.png';
$sprite-block-super-left-stripe: (104px, 0px, -104px, 0px, 64px, 99px, 262px, 256px, '../img/sprite.png', 'sprite-block-super-left-stripe', );
$sprite-block-super-left-warranty-name: 'sprite-block-super-left-warranty';
$sprite-block-super-left-warranty-x: 0px;
$sprite-block-super-left-warranty-y: 0px;
$sprite-block-super-left-warranty-offset-x: 0px;
$sprite-block-super-left-warranty-offset-y: 0px;
$sprite-block-super-left-warranty-width: 104px;
$sprite-block-super-left-warranty-height: 90px;
$sprite-block-super-left-warranty-total-width: 262px;
$sprite-block-super-left-warranty-total-height: 256px;
$sprite-block-super-left-warranty-image: '../img/sprite.png';
$sprite-block-super-left-warranty: (0px, 0px, 0px, 0px, 104px, 90px, 262px, 256px, '../img/sprite.png', 'sprite-block-super-left-warranty', );
$sprite-description-li-1-name: 'sprite-description-li-1';
$sprite-description-li-1-x: 100px;
$sprite-description-li-1-y: 186px;
$sprite-description-li-1-offset-x: -100px;
$sprite-description-li-1-offset-y: -186px;
$sprite-description-li-1-width: 50px;
$sprite-description-li-1-height: 50px;
$sprite-description-li-1-total-width: 262px;
$sprite-description-li-1-total-height: 256px;
$sprite-description-li-1-image: '../img/sprite.png';
$sprite-description-li-1: (100px, 186px, -100px, -186px, 50px, 50px, 262px, 256px, '../img/sprite.png', 'sprite-description-li-1', );
$sprite-description-li-2-name: 'sprite-description-li-2';
$sprite-description-li-2-x: 104px;
$sprite-description-li-2-y: 99px;
$sprite-description-li-2-offset-x: -104px;
$sprite-description-li-2-offset-y: -99px;
$sprite-description-li-2-width: 50px;
$sprite-description-li-2-height: 50px;
$sprite-description-li-2-total-width: 262px;
$sprite-description-li-2-total-height: 256px;
$sprite-description-li-2-image: '../img/sprite.png';
$sprite-description-li-2: (104px, 99px, -104px, -99px, 50px, 50px, 262px, 256px, '../img/sprite.png', 'sprite-description-li-2', );
$sprite-description-li-3-name: 'sprite-description-li-3';
$sprite-description-li-3-x: 0px;
$sprite-description-li-3-y: 186px;
$sprite-description-li-3-offset-x: 0px;
$sprite-description-li-3-offset-y: -186px;
$sprite-description-li-3-width: 50px;
$sprite-description-li-3-height: 50px;
$sprite-description-li-3-total-width: 262px;
$sprite-description-li-3-total-height: 256px;
$sprite-description-li-3-image: '../img/sprite.png';
$sprite-description-li-3: (0px, 186px, 0px, -186px, 50px, 50px, 262px, 256px, '../img/sprite.png', 'sprite-description-li-3', );
$sprite-description-li-4-name: 'sprite-description-li-4';
$sprite-description-li-4-x: 50px;
$sprite-description-li-4-y: 186px;
$sprite-description-li-4-offset-x: -50px;
$sprite-description-li-4-offset-y: -186px;
$sprite-description-li-4-width: 50px;
$sprite-description-li-4-height: 50px;
$sprite-description-li-4-total-width: 262px;
$sprite-description-li-4-total-height: 256px;
$sprite-description-li-4-image: '../img/sprite.png';
$sprite-description-li-4: (50px, 186px, -50px, -186px, 50px, 50px, 262px, 256px, '../img/sprite.png', 'sprite-description-li-4', );
$sprite-description-li-5-name: 'sprite-description-li-5';
$sprite-description-li-5-x: 168px;
$sprite-description-li-5-y: 101px;
$sprite-description-li-5-offset-x: -168px;
$sprite-description-li-5-offset-y: -101px;
$sprite-description-li-5-width: 50px;
$sprite-description-li-5-height: 50px;
$sprite-description-li-5-total-width: 262px;
$sprite-description-li-5-total-height: 256px;
$sprite-description-li-5-image: '../img/sprite.png';
$sprite-description-li-5: (168px, 101px, -168px, -101px, 50px, 50px, 262px, 256px, '../img/sprite.png', 'sprite-description-li-5', );
$sprite-description-li-56-name: 'sprite-description-li-56';
$sprite-description-li-56-x: 168px;
$sprite-description-li-56-y: 51px;
$sprite-description-li-56-offset-x: -168px;
$sprite-description-li-56-offset-y: -51px;
$sprite-description-li-56-width: 50px;
$sprite-description-li-56-height: 50px;
$sprite-description-li-56-total-width: 262px;
$sprite-description-li-56-total-height: 256px;
$sprite-description-li-56-image: '../img/sprite.png';
$sprite-description-li-56: (168px, 51px, -168px, -51px, 50px, 50px, 262px, 256px, '../img/sprite.png', 'sprite-description-li-56', );
$spritesheet-width: 262px;
$spritesheet-height: 256px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-block-super-left-box, $sprite-block-super-left-line-trou, $sprite-block-super-left-shipm, $sprite-block-super-left-stripe, $sprite-block-super-left-warranty, $sprite-description-li-1, $sprite-description-li-2, $sprite-description-li-3, $sprite-description-li-4, $sprite-description-li-5, $sprite-description-li-56, );
$spritesheet: (262px, 256px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
