@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin.scss';
@import 'import/wordpress.scss';
@import 'sprite';
@import 'font_fontawesome';
@import 'font_ubuntu';
@import 'font_calibri';


body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  height: 150px;
  .logo {
    position: absolute;
    top: 22px;
    left: 0;

    display: block;

    width: 364px;
    height: 26px;
    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
  h2 {
    font-size: 1em;

    position: absolute;
    top: 58px;
    left: 0;

    width: 280px;

    text-align: left;
  }
  .inner {
    height: 100px;
  }
  .phone,
  .recall {
    position: absolute;
    right: 0;

    text-align: right;
  }
  .recall {
    font-size: em(18, 16);

    top: 53px;

    padding-right: 2px;

    text-decoration: underline;

    color: $orange;
    &:hover {
      text-decoration: none;
    }
  }
  .phone {
    font-family: 'Ubuntu';
    font-size: em(36, 16);
    font-weight: normal;

    top: 20px;

    color: #292929;
    span {
      font-size: em(30, 36);
      font-weight: 300;

      color: $green;
    }
    &:before {
      font-weight: bold;
      line-height: 1.2;

      position: absolute;
      top: 5px;
      left: -58px;

      width: 48px;
      height: 48px;

      content: '';
      transition: $base-transition;
      text-align: center;

      color: $green;
      border: 3px solid $green;
      border-radius: 50%;

      @extend .fa;
      @extend .dblock;
    }
    &:hover {
      text-shadow: 2px 2px 2px $base-font-color;
      &:before,
      span {
        color: darken($green, 15%);
        text-shadow: none;
      }
    }
  }
}
nav {
  height: 50px;

  background-color: #f6f6f5;
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
  .headnav {
    height: 100%;

    @extend .inner;
    li {
      width: 135px;
      height: 100%;
      padding: 1em 0 0;

      text-align: center;
      &:nth-child(5),
      &:nth-child(2), {
        width: 162px;
      }
      a {
        font-size: 1em;
        line-height: 1;

        color: $base-font-color;
        &:hover {
          text-decoration: underline;

          color: $action-color;
        }
      }
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

.block-head {
  height: 550px;
  h1,
  h2,
  h6 {
    font-weight: bold;

    position: absolute;
    left: 0;

    width: 615px;

    text-align: left;
  }
  h1 {
    font-size: em(36, 16);

    top: 140px;

    text-transform: uppercase;
  }
  h6 {
    font-size: em(96, 16);

    top: 220px;

    padding-left: 10px;

    color: $green;
  }
  h2 {
    font-size: em(30, 16);

    top: 335px;

    width: 590px;
    padding-top: 20px;

    border-top: 1px solid $base-font-color;
  }
}



footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}

@import 'import/print';
