fieldset {
  margin: 0 0 $small-spacing;
  padding: $base-spacing;

  border: $base-border;
  background-color: $secondary-background-color;
}

input,
label,
select {
  font-family: $base-font-family;
  font-size: $base-font-size;

  display: block;
}

label {
  font-weight: 600;

  margin-bottom: $small-spacing / 2;
  &.required::after {
    content: '*';
  }
  abbr {
    display: none;
  }
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea,
select[multiple=multiple] {
  font-family: $base-font-family;
  font-size: $base-font-size;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;

  transition: $base-transition;

  border: $base-border;
  border-radius: $base-border-radius;
  outline: none;
  background-color: $base-background-color;
  box-shadow: $form-box-shadow;
  &:hover {
    border-color: shade($base-border-color, 20%);
  }
  &:focus {
    border-color: $action-color;
    outline: none;
    box-shadow: $form-box-shadow-focus;
  }
  &:disabled {
    cursor: not-allowed;

    background-color: shade($base-background-color, 5%);
    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

input[type='search'] {
  appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;

  margin-right: $small-spacing / 2;
}

input[type='file'] {
  width: 100%;
  margin-bottom: $small-spacing;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-spacing;
}

form {
  font-size: 1em;

  width: 500px;
  padding: 25px 40px;

  text-align: center;

  border: 3px solid $green;
  border-radius: $base-border-radius;
  h3 {
    font-size: em(36, 16);
    font-weight: normal;

    margin: 0 0 10px;

    color: $green;
  }
  p {
    font-size: em(24, 16);
    span {
      font-weight: bold;
    }
  }
  input,
  button {
    padding: 16px;
  }
  input {
    font-size: em(24, 16);

    margin: 0 0 10px;
  }
  button {
    font-size: em(24, 16);

    width: 100%;

    background-image: linear-gradient( 90deg, rgb(210,59,18) 0%, rgb(243,69,22) 100%);
    box-shadow: 0 3px 0 0 rgba(137, 39, 12, 1);
    &:active {
      background-image: linear-gradient( 90deg, rgb(243,69,22) 0%, rgb(210,59,18) 100%);
      box-shadow: 0 3px 0 0 rgba(137, 39, 12, .4);
    }
  }
}
