// Font Sizes
$base-font-size: 1em;
$base-font-family: 'Calibri', sans-serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 0.8;

// Other Sizes
$width: 1000px;
$footer: 150px;
$footer_margin: $footer - 2 * $footer;
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$green: #036330;
$red: #e74c3c;
$orange: #d33b12;
$dark-gray: #333;
$medium-gray: #292929;
$light-gray: #ddd;

// Font Colors
$base-font-color: $medium-gray;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -.3);

// Animations
$trs: all .15s;
$base-duration: 150ms;
$base-timing: ease;
$base-transition: background-color $base-duration * 5 $base-timing, color $base-duration * 0.7 $base-timing, opacity $base-duration * 0.3 $base-timing;
